<!DOCTYPE html>

<head>

    <title>Add Word Page</title>
    {% load staticfiles %}
   
</head>
<body>
<h1>Add Your Word</h1>
<Form action="{% url 'vocab:add' %}" method="post">
    {% csrf_token %}
Word :<br>
<input type='text' name='word' size='40' autofocus><br><br>
  type : <select name="meaning_type">
    <option value="noun">noun</option>
    <option value="verb">verb</option>
    <option value="adverb">adverb</option>
    <option value="adjective">adjective</option>
    <option value="preprosition">preposition</option>
  </select><br><br>
Meaning :<br><input type='text' name='meaning' size='40'>
<h2>Sample Sentence :</h2>
<input type='text' name='sample_sentence'  size="40"><br><br>

<input type='submit' value='Submit'></form><br>

{% if error_message %}
    <b>{{error_message}}</b>
{%endif%}
<br><br>
<a href="../">Back Page</a>
</body>
</html>
