{% load staticfiles %}

<form action="{% url 'vocab:restoreCSV' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
Select Backup CSV File:<input type="file" name="Backup_File" id="Backup_File">
<input type="submit"  value="Import" name="submit">
</form>
<action="{%url 'vocab:index' %}" style="display: inline;">
<input type="submit" value="Back"></form>

