{% load staticfiles %}


{% if wordlist %}
{% for word in wordlist %}
<font size="10"><b>{{word.word_text}}</b></font><br><br>
<table border="1"> <tr>
<th>Mean</th><th>Example</th>
</tr>
<tr>
       {% for mean in word.mean_set.all %}
   <td>{{ mean.mean_text }} [{{ mean.type_text }}]</td> 
   <td>{{ mean.sample }}</td>
</tr>
{%endfor%}
{%endfor%}
</tr>
{% endif %}



</tr>
<table border="0"><tr><td>
<form action="{%url 'vocab:index' %}" style="display: inline;">
<input type="submit" value="Back"></form></td></tr>
