<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Word Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>
<body>
<h1>Add Your Word</h1>
<Form action="{% url 'vocab:add' %}" method="post">
    {% csrf_token %}
<br>
<input type='text' name='word' size='40' autofocus><br><br>
    {% for mean in word.mean %}
  <input type='text' name="mean{{ forloop.counter0 }}" value={{mean.mean_text}} size='40'>
  
   <select name="meaning_type">
   {% for type in type_list %}
       <option value="{{type}}"
       {% if type == mean.type_text %}selected="selected"{% endif %}>
       {{mean.type_text}}
       </option> {% endfor %} </select><br>
  <h2>Sample Sentence :</h2>
  <input type='text' name='sample_sentence' value={{mean.sample}} size="40"><br><br>
{% endfor %}



{% if error_message %}
    <b>{{error_message}}</b>
{%endif%}
<br><br>
<a href="../">Back Page</a>
</body>
</html>
