{% load staticfiles %}

    <script src="{% static 'rst2slides/javascript/angular.min.js' %}"></script>
    <script src="{% static 'rst2slides/javascript/jquery-1.12.3.min.js' %}"></script>
<table border="0.5">
<form action="{% url 'vocab:search' %}" method="post" style="display: inline;">
{% csrf_token %}
 <tr>
<th><input type="text" name="search_text"></th>

<th><input type="submit" value="Search"></th>

</form>
<th><form action="{% url 'vocab:viewall' %}" style="display: inline;">
<input type="submit" value="All Vocab"></form></th>

<th><form action="{% url 'vocab:backup_page' %}" style="display: inline;">
<input type="submit" value="Restore"></form></th>
 </tr>
<table border="2">
<tr>
<th>Search</th> <th>Date</th> <th>Used</th> 
</tr>
{% if search_list %}
{% for search in search_list %}
<tr>
  <td>{{search.search_text}}</td> 

<td>
{{ search.lasted_used }} </td><td>{{ search.count}}  </td> 
{% endfor %}</tr>
 {% endif %}
</tr>

