{% load staticfiles %}

{% if search_text == "" %}
<b>Your Search input is Empty Please Try again.</b>
{% else %}
<font size="4">Search result for <b>"{{ search_text }}"</b></font><br><br>
<table border="1">
  <tr>
<th>Word</th><th>Mean</th>
  </tr>
{% if wordlist %}
{% for word in wordlist %}
 <tr>
   <td><a href="{% url 'vocab:detail' word%}">{{word.word_text}}</td>
<td>
      {% for mean in word.mean_set.all %}
   {{ mean.mean_text }} [{{ mean.type_text }}]  
 {% endfor %}</td></tr>
</tr>
{%endfor%}
{% endif %}
{% endif %}<table border="0"><tr><td>
<th><form action="{%url 'vocab:index' %}" style="display: inline;">
<input type="submit" value="Back"></form></th></td></tr>
