{% load staticfiles %}
{% if word_list %}
    <table border="1">
     <tr>
     <th>Word</th>
     <th>Mean</th>
     </tr>
    {% for word in word_list %}
      <tr><td>      
<a href="{% url 'vocab:detail' word%}"> {{ word.word_text }}</a>
</td><td>
      {% for mean in word.mean_set.all %}
   {{ mean.mean_text }} [{{ mean.type_text }}]    <br>
 {% endfor %}</td></tr>
    
{% endfor %}
</table>
    
{% else %}
    <p>No polls are available.</p>
{% endif %}
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
